# One liners

## 刪除重複值

In [32]:
list1 = [1, 2, 3, 0, 3, 2, 1]
set(list1)

{0, 1, 2, 3}

## 計算每個值的發生頻率

In [34]:
from collections import Counter

# 測試資料
mylst = [1,1,1,2,2,2,2,3,3,3,3,3,4,4,5,6,6,6]
dict(Counter(mylst))

{1: 3, 2: 4, 3: 5, 4: 2, 5: 1, 6: 3}

## 兩個值對調

In [28]:
x, y = 100, 200
temp = x
x = y
y = temp
# 測試
x, y

(200, 100)

## 字串轉陣列

In [35]:
values = list('零一二三四五六七八九')
values

['零', '一', '二', '三', '四', '五', '六', '七', '八', '九']

## 陣列轉字串

In [36]:
list1 = ['零', '一', '二', '三', '四', '五', '六', '七', '八', '九']
''.join(list1)

'零一二三四五六七八九'

## 陣列反轉(Reverse)

In [37]:
values = list('零一二三四五六七八九')
values[::-1]

['九', '八', '七', '六', '五', '四', '三', '二', '一', '零']

## 顯示記憶體用量

In [40]:
import sys

mylst = ['India', 'Paris', 'London', 'Italy', 'Rome', '台灣']
sys.getsizeof(mylst)

152

## 取偶數

In [1]:
for i in range(2, 101, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

## List comprehensive

In [2]:
[i for i in range(2, 101, 2)]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [3]:
sum([i for i in range(2, 101, 2)])

2550

## 加上判斷式

In [4]:
[i for i in range(2, 101) if i%2 == 0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

## 質數

In [5]:
# 顯示非質數
set([i for i in range(2, 101) for j in range(2, i) if i%j == 0])

{4,
 6,
 8,
 9,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 21,
 22,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 42,
 44,
 45,
 46,
 48,
 49,
 50,
 51,
 52,
 54,
 55,
 56,
 57,
 58,
 60,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 72,
 74,
 75,
 76,
 77,
 78,
 80,
 81,
 82,
 84,
 85,
 86,
 87,
 88,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 98,
 99,
 100}

## 將2~100的list 減掉 非質數的list

In [7]:
set([i for i in range(2, 101)]) - set([i for i in range(2, 101) for j in range(2, i) if i%j== 0])

{2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97}

## List comprehensive + Lambda function

In [8]:
# 階層(factorial )計算
from functools import reduce
# 3!
reduce(lambda x, y: x * y, range(1, 4))

6

In [9]:
# 6!
reduce(lambda x, y: x * y, range(1, 6))

120

## map

In [10]:
list(map(lambda x: x ** 2, range(1, 6)))

[1, 4, 9, 16, 25]

## filter

In [11]:
list(filter(lambda x: x % 2 == 0, range(1, 101)))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

## 將1個list組成dictionary：將數字換成大寫

In [12]:
values = list('零一二三四五六七八九')
dict(enumerate(values))

{0: '零',
 1: '一',
 2: '二',
 3: '三',
 4: '四',
 5: '五',
 6: '六',
 7: '七',
 8: '八',
 9: '九'}

## Dictionary comprehensive + Lambda function

In [15]:
keys = range(10)
values = list('零一二三四五六七八九')
dict1 = {keys[i]: values[i] for i in range(len(keys))}
# 測試
[dict1[int(i)] for i in list('486')]

['四', '八', '六']

In [16]:
# 將執行結果合併
''.join([dict1[int(i)] for i in list('486')])

'四八六'

## 依dictionary的value排序

In [21]:
keys = range(10)
values = list('零一二三四五六七八九')
dict1 = {keys[i]: values[i] for i in range(len(keys))}
# 依dictionary的value排序
sorted([(k, v) for k, v in dict1.items()], key=lambda x: x[1])

[(1, '一'),
 (7, '七'),
 (3, '三'),
 (9, '九'),
 (2, '二'),
 (5, '五'),
 (8, '八'),
 (6, '六'),
 (4, '四'),
 (0, '零')]

In [22]:
# 依dictionary的key排序
sorted([(k, v) for k, v in dict1.items()], key=lambda x: x[0])

[(0, '零'),
 (1, '一'),
 (2, '二'),
 (3, '三'),
 (4, '四'),
 (5, '五'),
 (6, '六'),
 (7, '七'),
 (8, '八'),
 (9, '九')]

In [24]:
# 找出value最大值
max([(k, v) for k, v in dict1.items()], key=lambda x: x[1])

(0, '零')

## dictionary key及value互換

In [25]:
# k, v --> v: k
{v: k for k, v in dict1.items()}

{'零': 0,
 '一': 1,
 '二': 2,
 '三': 3,
 '四': 4,
 '五': 5,
 '六': 6,
 '七': 7,
 '八': 8,
 '九': 9}

## 合併兩個dictionary

In [26]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
# 測試
{**dict1, **dict2}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

## One liner + 遞迴(Recursion)

In [27]:
# 費波那契(Fibonacci)數列
def Fib(x): return 1 if x in {0, 1} else Fib(x-1) + Fib(x-2) 
# 測試前10個數列
[Fib(i) for i  in range(1, 11)]

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [29]:
x, y = 100, 200
y, x = x, y
# 測試
x, y

(200, 100)

## One liner 創建類別

In [30]:
class Employee:   
    def __init__(self, name, age):   
        self.name = name   
        self.age = age  
        
# 測試，實體化物件
michael = Employee("Michael", 25) 
michael.age

25

In [31]:
# 一行搞定
Employee = lambda:None; Employee.name = "Michael"; Employee.age = 25
type(Employee)

function

## Reference
- #### [22 Python One-Liners That Every Programmer Should Know](https://levelup.gitconnected.com/22-python-one-liners-that-every-programmer-should-know-3afd4dca1ea0)
- #### [20 extremely useful single-line Python codes](https://medium.com/@chenyumei8866/20-extremely-useful-single-line-python-codes-bc553ea4832a)